/* CSS variables */

:root {
  --odin-color: #cc9543;
}

/* general colors */

html { color: #4a4a4a; }
a { color: #828282 }
h2, h3 { color: #212529; }

a:hover { color: #000; }

/* top navigation */

nav a,
.logo { text-decoration: none; }

.top-nav { float: right; }

.top-nav li {
  float: left;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  line-height: normal;
}

.logo {
  color: var(--odin-color);
}

/* header */

header {
  padding-top: 80px;
  padding-bottom: 60px;

  text-align: center;
}

h1 {
  text-transform: uppercase;
  color: var(--odin-color);
  font-size: 1.5rem;
}

header p {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: .3em;
}

/* lesson */

h2, h3 { padding-top: 2em; }

.instructions {
  padding: 20px;

  background-color: #f3f3f3;
}

.lesson a,
.end-lesson a { color: var(--odin-color); }

.lesson a:hover,
.end-lesson a:hover { color: #000; }

.jump-links a {
  color: #999;
  text-decoration: none;
}

.jump-links li {
  list-style: none;
  font-size: .8rem;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.jump-links li::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 1em;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #999;
}

.instructions ol,
.lesson ul { padding-left: 20px; }

.extra-padding-bottom { padding-bottom: 80px; }

/* end of lesson */

.end-lesson {
  padding-top: 50px;
  padding-bottom: 50px;
  
  background-color: #eeeeee;
}

.container-island { background-color: #fff; }

a.button {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 4px;
  background-color: var(--odin-color);
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, .3);
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

a.button:hover {
  opacity: .8;
  color: #fff;
}

a.main-button { background-color: #6abfc3; }

.course-actions {
  padding: 30px 40px;
  text-align: center;
}

.course-actions .button { min-width: 80%; }

.mid-section { text-align: center; }

.mid-section a { text-decoration: none; }

.mid-section p:first-of-type { font-size: 2em; }

.advert {
  padding-left: 40px;
  padding-right: 40px;
}

.advert .row {
  padding-bottom: 30px;
  padding-top: 30px;
}

.advert .row:first-child { border-bottom: 2px solid #eee; }

.advert .row:first-child [class*="col"]:first-child {
  font-size: 1.8em;
  color: #999;
}

.advert .row:nth-child(2) {
  font-size: 1.5em;
  font-weight: 700;
}

/* footer */

footer nav a { display: block; }